*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, textarea {
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}