:root {
  --gray-100: hsl(0, 0%, 100%);
  --gray-200: hsl(0, 0%, 98%);
  --gray-300: hsl(0, 0%, 52%);

  --blue-700: hsl(209, 23%, 22%);
  --blue-800: hsl(207, 26%, 17%);
  --blue-900: hsl(200, 15%, 8%);

  --app-ff: 'Nunito Sans', sans-serif;

  --app-fz-sm: 14px;
  --app-fz-md: 16px;
}


